.container {
  text-align: center;
  display:'flex';
  justify-content: center;
}

.item{
  margin-left:15vw;
  margin-top:30vh;
}
.card{
  margin: 5px;
}
img{
  transition: transform .2s; 
}
img:hover{
  transform:scale(1.5);
}

.carousalContainer{
  display: flex;
  flex-direction: row;
  
  scroll-behavior: smooth;
  justify-items: start;
 
}

.button {
  background-color: white;
  border: none;
  color: black;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
  cursor: pointer;
  border-radius: 50%;
  width:50px;
  height:50px;
}

